{% extends 'base.html.twig' %}

{% block title %}Destination - {{ destination.name }}{% endblock %}

{% block body %}

<main>
    <header>
        <h1>Destination - {{ destination.name }}</h1>
    </header>
    <section>
        <img src="{{ asset('images/' ~ destination.image) }}" alt="" />
        <p>{{ destination.description }}</p>
        <p>Price : ${{ destination.price }}</p>
        <p>Duration : {{ destination.duration }} days</p>
    </section>
</div>
{% endblock %}
